@font-face {
    font-family: 'Gata';
    src: url('assets/fonts/Kiona-Regular.ttf') format('truetype');
}

@keyframes moverCimaBaixo {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Estilos gerais */

body {
    font-size: 100%;
    background-image: url(assets/img/black-wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    }

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Gata';
    background-color: black;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: black;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2 {
    opacity: 0;
    
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    
}
/* Estilos do conteúdo */


.conteudo {
    max-width: 1200px; /* Defina a largura máxima do conteúdo */
    margin: 0 auto; /* Centralize o conteúdo na tela */
    padding: 20px; /* Adicione um espaçamento interno */
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: "Gata";
    font-weight: 400;
    font-size: 64px;
    color: white;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Gata';
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.conteudo-principal-imagem {
    height: 300px;
    margin-top: 20px;
    animation: moverCimaBaixo 3s ease infinite;
}

@media only screen and (max-width: 768px) {
    .conteudo {
        padding: 10px; /* Reduza o espaçamento interno para telas menores */
    }

    .conteudo-principal {
        flex-direction: column; /* Alterar a direção do flex para empilhar verticalmente */
        text-align: center; /* Centralizar o conteúdo na tela */
    }

    .conteudo-principal-escrito {
        margin-bottom: 20px; /* Adicione uma margem inferior para separar do próximo elemento */
    }

    .conteudo-principal-imagem {
        width: 100%; /* Ajustar a largura da imagem para ocupar toda a largura do contêiner */
        max-width: 300px; /* Limitar a largura máxima da imagem para evitar esticamento */
    }
}

/* Estilos do footer */

footer {
    position: fixed; /* Fixar o footer na parte inferior da tela */
    bottom: 0;
    left: 0;
    width: 100%; /* Ocupar toda a largura da tela */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 20px; /* Adicione um espaçamento interno */
    box-sizing: border-box; /* Certifique-se de que o padding não aumente a largura */
}

@media only screen and (max-width: 768px) {
    footer {
        position: static; /* Alterar a posição para o fluxo normal do documento em telas menores */
    }
}

/* Outros estilos... */



.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
    margin: 0 auto; /* Centralize o botão na página */
}

@media only screen and (min-width: 768px) {
    .btn {
        margin: 0; /* Remova a margem horizontal para dispositivos com largura de tela maior que 768px */
        margin-left: 20px; /* Adicione margem à esquerda para posicionar o botão mais à esquerda */
    }
}



.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    letter-spacing: 12px;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #FFAF59;
    border-bottom-color: #FFAF59;
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1);
}




footer {
    position: fixed; /* Fixar o footer na parte inferior da tela */
    bottom: 0;
    left: 0;
    width: 100%; /* Defina uma largura máxima para o footer */
    max-width:100%; /* Defina a largura máxima desejada */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 0px 20px; /* Adicione um espaçamento interno */
    box-sizing: border-box; /* Certifique-se de que o padding não aumente a largura */
    margin: 0 auto; /* Centralize o footer na página */
}


@media only screen and (max-width: 768px) {
    footer {
        position: static; /* Alterar a posição para o fluxo normal do documento em telas menores */
    }
}


.coracao {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, red, #ffff00, #00ff00, #0000ff);
    background-size: 400% 400%;
    border-radius: 50%;
    animation: gradientAnimation 1s ease infinite;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
