@font-face {
    font-family: 'Gata';
    src: url('assets/fonts/Kiona-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px; /* Define um tamanho de fonte padrão */
    font-family: "Gata", sans-serif; /* Fallback para fontes sem serifa */
    background-image: url(assets/img/black-wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 90%; /* Ajusta a largura máxima do container */
    margin: 0 auto; /* Centraliza o container na tela */
    padding: 10px; /* Adiciona um espaçamento interno ao container */
    display: flex;
    justify-content: space-between; /* Distribui os elementos horizontalmente */
    align-items: center; /* Centraliza verticalmente os elementos */
}

header {
    background-color: black;
    width: 100%;
    padding: 10px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.menu {
    flex-grow: 1; /* Expande o menu para preencher o espaço restante */
}

.menu nav {
    display: flex;
    justify-content: space-around; /* Distribui os itens do menu horizontalmente */
}

.menu nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 0 10px; /* Adiciona espaçamento interno nos itens do menu */
    position: relative;
}

.menu nav a::after {
    content: "";
    width: 0;
    height: 2px;
    background: linear-gradient(45deg, #FFA645, #FF8040);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.menu nav a:hover::after {
    width: calc(100% - 20px); /* Expandir a linha do sublinhado quando hover */
}

.sociais button {
    width: 35px;
    height: 35px;
    background-image: linear-gradient(45deg, #FFA645, #FF8040);
    border: none;
    margin-right: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.sociais button i {
    font-size: 20px;
    color: black; /* Cor do ícone social */
}

.conteudo {
    position: relative;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteudo-principal-escrito-titulo {
    font-size: 4em; /* Tamanho do título principal */
    color: white;
    margin-bottom: 20px;
}

.conteudo-principal-escrito-subtitulo {
    font-size: 1.5em; /* Tamanho do subtítulo */
    color: white;
    margin-bottom: 20px;
}

.conteudo-principal-imagem {
    height: 300px;
    margin-top: 20px;
    animation: moverCimaBaixo 3s ease infinite;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

footer {
    background-color: rgba(0, 0, 0, 0.6); /* Cor de fundo do rodapé */
    color: #ffffff5e;
    padding: 20px 0; /* Adiciona espaçamento interno ao rodapé */
    text-align: center;
    font-size: 14px; /* Tamanho da fonte do rodapé */
}
